<div class="card p-5">
  <h4 class="card-header">
    Create A New Tag
  </h4>
  {{#if err_message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">
          ×
        </span>
      </button>
      {{err_message}}
    </div>
  {{/if}}
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        <label for="txtTagName">
          Tag
        </label>
        <input
          type="text"
          class="form-control"
          id="txtTagName"
          name="txtTagName"
          required
          autofocus
        />
      </div>

      <a class="btn btn-primary" href="/tags" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
</div>