<div class="card p-5">
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        <label for="txtTagId">
          Tag Id
        </label>
        <input
          type="text"
          readonly
          class="form-control"
          id="txtTagId"
          name="TagId"
          value="{{this.tag.TagId}}"
        />
      </div>
      <div class="form-group">
        <label for="txtTagName">
          Tag Name
        </label>
        <input
          type="text"
          class="form-control"
          id="txtTagName"
          name="TagName"
          required
          autofocus
          value="{{this.tag.TagName}}"
        />
        <input type="hidden" value="{{this.tag.TagName}}" name="oldTagName" />
      </div>
      <a class="btn btn-primary" href="/tags/" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>
      <button type="submit" class="btn btn-success" formaction="/tags/patch">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
</div>