{{#section "css"}}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
  />
{{/section}}

<div class="card container mt-5 mb-5" style="max-width: 500px">
  {{#if err_message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">
          ×
        </span>
      </button>
      {{err_message}}
    </div>
  {{/if}}
  <h4 class="card-header border rounded bg-primary text-white text-center mt-3">
    CREATE YOUR ACCOUNT
  </h4>
  <div class="card-body">
    <form id="frmRegister" method="POST">
      <div class="form-group">
        <label for="txtUsername">
          Username
        </label>
        <input
          type="text"
          class="form-control"
          id="txtUsername"
          name="username"
          placeholder="stark"
        />
      </div>
      <div class="form-group">
        <label for="txtEmail">
          Email
        </label>
        <input
          type="email"
          class="form-control"
          id="txtEmail"
          name="email"
          placeholder="example@gmail.com"
        />
      </div>
      <div class="form-group">
        <label for="txtName">
          Name
        </label>
        <input type="text" class="form-control" id="txtName" name="name" />
      </div>
      <div class="form-group">
        <label for="txtPassword">
          Password
        </label>
        <input
          type="password"
          class="form-control"
          id="txtPassword"
          name="raw_password"
        />
      </div>
      <div class="form-group">
        <label for="txtConfirmPassword">
          Confirm Password
        </label>
        <input
          type="password"
          class="form-control"
          id="txtConfirmPassword"
          name="raw_confirmPassword"
        />
      </div>
      <div class="form-group">
        <label for="txtDOB">
          Date of Birth.
        </label>
        <input type="text" class="form-control" id="txtDOB" name="raw_dob" />
      </div>
      <button type="submit" class="btn btn-success d-block w-100">
        Register
      </button>
    </form>
    <p class="text-center mt-2 text-muted">
      Have already an account?
      <a href="/account/login" class="font-weight-bold text-dark">
        <u>
          Login here
        </u>
      </a>
    </p>
  </div>
</div>

{{#section "js"}}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
  ></script>
  <script src="/public/js/account/register.js"></script>
{{/section}}