{{#section "css"}}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
  />
{{/section}}

{{#section "js"}}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
  >
  </script>
  <script>
    const form = $("#frmResetPassword"); form.on("submit", async (e) => {
    e.preventDefault(); const email = $("#txtEmail").val(); if (email.length ===
    0) { alert("Invalid data!"); return; }
    $.getJSON(`/account/is-valid-email?email=${email}`, function (data) { if
    (data === true) { alert("There no account with that email!"); } else {
    alert('Your OTP has been sent.');
    $("#frmResetPassword").off("submit").submit(); } }); });

  </script>
{{/section}}
{{#if edit}}
  <div class="card container mt-5 mb-5" style="max-width: 500px">
    <h4
      class="card-header border rounded bg-primary text-white text-center mt-3"
    >
      RESET PASSWORD
    </h4>
    <div class="card-body">
      <form id="frmResetPassword" method="POST">
        <div class="form-group">
          <label for="txtEmail">Email</label>
          <input
            type="text"
            class="form-control"
            id="txtEmail"
            name="email"
            placeholder="Your email"
            value="{{email}}"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="txtPassword">New Password</label>
          <input
            type="text"
            class="form-control"
            id="txtPassword"
            name="password"
            placeholder="Your new password"
          />
        </div>
        <div class="form-group">
          <label for="txtConfirmPassword">Confirm Password</label>
          <input
            type="text"
            class="form-control"
            id="txtConfirmPassword"
            name="confirmPassword"
            placeholder="Re-type your password"
          />
        </div>
        <input type="hidden" value="{{otp}}" id="otp" name="otp" />
        <button type="submit" class="btn btn-success d-block w-100">
          Change Password
        </button>

      </form>
    </div>
  </div>
{{else}}
  <div class="card container mt-5 mb-5" style="max-width: 500px">
    <h4
      class="card-header border rounded bg-primary text-white text-center mt-3"
    >
      RESET PASSWORD
    </h4>
    <div class="card-body">
      <form id="frmResetPassword" method="POST">
        <div class="form-group">
          <label for="txtEmail">Email</label>
          <input
            type="text"
            class="form-control"
            id="txtEmail"
            name="email"
            placeholder="Your email"
          />
        </div>

        <button type="submit" class="btn btn-success d-block w-100">
          Forgot password
        </button>

      </form>
    </div>
  </div>

{{/if}}