{{#section "css"}}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
  />
{{/section}}

{{#section "js"}}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
  >
  </script>
  <script>
    const form = $('#frmResetPassword'); form.on('submit', (e) => {
    e.preventDefault(); $("#frmResetPassword").off("submit").submit();});
  </script>
{{/section}}

<div class="card container mt-5 mb-5" style="max-width: 500px">
  <h4 class="card-header border rounded bg-primary text-white text-center mt-3">
    RESET PASSWORD
  </h4>
  <div class="card-body">
    <form id="frmResetPassword" method="POST">
      <div class="form-group">
        <label for="txtEmail">Email</label>
        <input
          type="text"
          class="form-control"
          id="txtEmail"
          name="email"
          placeholder="Your email"
        />
      </div>

      <button type="submit" class="btn btn-success d-block w-100">
        Forgot password
      </button>

    </form>
  </div>
</div>