{{#section "css"}}
  <link
    href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/css/fileinput.min.css"
    media="all"
    rel="stylesheet"
    type="text/css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
    crossorigin="anonymous"
  />
  <link
    href="https://unpkg.com/@yaireo/tagify/dist/tagify.css"
    rel="stylesheet"
    type="text/css"
  />
{{/section}}
{{#section "js"}}
  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <script
    src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/js/fileinput.min.js"
  ></script>
  <script>
    $('#txtAvatar').fileinput({ allowedFileExtensions: ['jpg', 'png', 'gif'],
    dropZoneEnabled: false, });
  </script>
  <script
    src="https://cdn.tiny.cloud/1/xj36kfadjrtykjwcr6ww3u7prfswvbmgfs5gj6yee8zpkzv9/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"
  ></script>
  <script src="/public/js/writer/upload.js"></script>
  <script>
    var input = document.querySelector('input[name=tags]'); new Tagify(input)
  </script>
{{/section}}

{{! Body  }}
<div class="card p-lg-5 p-sm-2 border border-light rounded w-100">
  {{#if err_message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">
          ×
        </span>
      </button>
      {{err_message}}
    </div>
  {{/if}}
  <h5 class="card-header">
    Create A New Post
  </h5>
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      <input
        type="hidden"
        id="userID"
        name="userID"
        value="{{authUser.UserID}}"
      />
      <div class="form-group">
        <label for="txtTitle">
          <h4>
            Title
          </h4>
        </label>
        <input
          type="text"
          class="form-control"
          id="txtTitle"
          name="title"
          autofocus
          required
        />
      </div>
      <div class="form-group">
        <label for="txtAbstract">
          <h4>
            Abstract
          </h4>
        </label>
        <textarea
          id="txtAbstract"
          name="abstract"
          class="p-2"
          rows="3"
          style="width: 100%"
          required
        ></textarea>
      </div>
      <div class="form-group">
        <label for="txtAvatar">
          <h4>
            Avatar Photo
          </h4>
        </label>
        <input
          type="file"
          class="form-control"
          id="txtAvatar"
          name="avatar"
          required
        />
      </div>
      <div class="form-group">
        <label for="txtContent">
          <h4>
            Content
          </h4>
        </label>
        <textarea
          class="w-100"
          id="txtContent"
          name="content"
          rows="20"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="sub_categories">
          <h4>
            Choose a sub categories:
          </h4>
        </label>
        <select
          id="sub_categories"
          name="sub_categories"
          class="custom-select custom-select-lg"
        >
          {{#each this.sub_categories}}
            <option value="{{SubCatID}}">
              {{SubCatName}}
            </option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="txtContent">
          <h4>
            Tags:
          </h4>
        </label>
        <input
          class="form-control-lg"
          name="tags"
          placeholder="write some tags"
          required
        />
      </div>

      <button type="submit" class="btn btn-success d-block mx-auto w-50">
        <i class="fa fa-upload fa-2x d-inline-block" aria-hidden="true"></i>
        <h4 class="d-inline-block">
          Upload
        </h4>
      </button>

    </form>
  </div>
</div>