<div class="card p-5">
  <h4 class="card-header d-flex justify-content-between">
    Block functions
  </h4>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center" scope="col">
            #
          </th>
          <th scope="col">
            Function
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            1
          </td>
          <td>
            Upload a paper (Writer)
          </td>
          <td>
            <button class="btn btn-danger">
              Block
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            2
          </td>
          <td>
            Judge a paper (Editor's Role)
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>