<div class="card p-5">
  <h4 class="card-header">
    Add Sub Category
  </h4>
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        <label for="txtSubCatName">
          Sub Category
        </label>
        <input
          type="text"
          class="form-control"
          id="txtSubCatName"
          name="txtSubCatName"
          required
          autofocus
        />
      </div>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
      <a class="btn btn-primary" href="/admin/categories/" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>
    </form>
  </div>
</div>